@model IEnumerable<WebApplication.Models.Student>

@{
    ViewBag.Title = "Index";
}
<div align="center">
    <h3> Student Management </h3>
    <span> <a href="@Url.Action("AddStudent","Students")"> Add Student </a></span>
    <br />
    <br />
    <table cellpadding="5" border="1">
        <tr style="background-color:#808080; color:white;">
            <td>Student Id </td>
            <td> Name</td>
            <td> Address</td>
            <td>Email Id</td>
            <td>Action</td>
        </tr>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.StudentId</td>
                <td>@emp.StudentName</td>
                <td>@emp.Address</td>
                <td>@emp.EmailId</td>
                <td>
                    <a href="@Url.Action("EditStudent", "Students", new { @StudentId = emp.StudentId })"> Edit </a>
                    <a href="@Url.Action("DeleteStudent", "Students", new { @StudentId = emp.StudentId })"> Delete </a>
                </td>
            </tr>

        }
    </table>
</div> 